.history/
node_modules/
package-lock.json
ROADMAP.md
.prettierignore
.prettierrc.json
.releaserc.json
.eslintrc.json
vitest.config.js
keys.txt
images/.DS_Store
.DS_Store
client_secret_419953829018-q16ej8mm87b0vlfa5uekhn85kq138add.apps.googleusercontent.com.json
